:root {
    --amount-positive: #3b70db;
    --amount-negative: #ef4f4f;
}

.App {
    background: #24282c;
    color: white;
}

#main p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

#main a {
    color: white;
    transition: all .1s;
}

#main a:hover {
    color: lightgrey;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item .dropdown-toggle::before, .dropdown-toggle::after {
    display: none;
}

.form-control {
    border: var(--bs-border-width) solid #2f2e3e;
    color: whitesmoke;
    background-color: var(--bs-dark);
}

.form-control:focus {
    color: whitesmoke;
    background-color: #2b3136;
    border-color: #373656;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(83, 74, 93, .25);
}

.form-control::placeholder {
    color: lightgrey;
}

.table-dark {
    --bs-table-bg: #2a2e33;
}
.table-dark thead, tfoot {
    --bs-table-bg: #24282c;
}
#assetsFooter {
    border: hidden;
}

.modal-content {
    background: var(--bs-dark);
    color: whitesmoke;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}